<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>t_a_y_player</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
