#app, #main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #333;
  font-family: monospace, sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

.nav_bar {
  position: absolute;
  top: 0;
  height: 32px;
  right: 0;
  left: 0;
  background-color: #546E7A;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
}

.nav_item {
  line-height: calc(100% - 4px);
  margin: 2px 16px;
  padding: 1px 5px;
}

.nav_item:hover {
  cursor: pointer;
  background-color: #aaa;
  border-radius: 4px;
}

.frame {
  background-color: #555;
  position: absolute;
  box-shadow: 0 5px 15px -5px;
  transition: all .1s ease;
}

.frame_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18px;
  background-color: #607D8B;
  cursor: move;
  line-height: 14px;
}

.frame_left {
  position: absolute;
  top: 18px;
  left: 0;
  bottom: 0;
  width: 5px;
  cursor: e-resize;
}

.frame_height{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: n-resize;
}

.frame_width {
  position: absolute;
  top: 18px;
  right: 0;
  bottom: 0;
  width: 5px;
  cursor: e-resize;
}

.frame_h_and_w {
  position: absolute;
  height: 10px;
  right: 0;
  bottom: 0;
  width: 10px;
  cursor: nw-resize;
}

.frame_w_and_h {
  position: absolute;
  height: 10px;
  left: 0;
  bottom: 0;
  width: 10px;
  cursor: ne-resize;
}

.frame_h_and_w_top {
  position: absolute;
  height: 10px;
  right: 0;
  top: 0;
  width: 10px;
  cursor: ne-resize;
}

.frame_w_and_h_top {
  position: absolute;
  height: 10px;
  left: 0;
  top: 0;
  width: 10px;
  cursor: nw-resize;
}

.video_frame {
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  bottom: 0;
}
.blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 1000000
}

.frame_change {
  float: left;
}

.frame_close {
  float: right;
}

.frame_close, .frame_change {
  font-size: 12px;
  margin: 2px 5px;
  padding: 0 5px;
}

.frame_close:hover, .frame_change:hover {
  cursor: pointer;
  background-color: #aaa;
  border-radius: 3px;
}

.change_stream {
  position: absolute;
  left: 50%;
  top: calc(50% + 9px);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 1px;
  width: 80%;
  height: auto;
  min-width: 150px;
  max-width: 300px;
}

.stream_input {
  margin: 5px;
  background: #777;
  border: 1px solid #888;
  padding: 8px;
  color: #222;
  width: calc(100% - 10px - 2px - 16px);
  border-radius: 4px;
}
*::-webkit-input-placeholder {color: #333;}
*:-moz-placeholder {color: #333;}
*::-moz-placeholder {color: #333;}
*:-ms-input-placeholder {color: #333;}

.stream_select {
  margin: 5px;
  background: #777;
  border: 1px solid #888;
  padding: 8px;
  color: #222;
  width: calc(100% - 10px);
  border-radius: 4px;
}

.run_change {
  font-size: 12px;
  margin: 5px;
  padding: 10px;
  width: calc(100% - 10px - 4px - 16px);
  border-radius: 4px;
  background-color: #888;
  text-align: center;
}

.run_change:hover {
  cursor: pointer;
  background-color: #aaa;
}

.help_text {
  position: absolute;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, -50%);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 25px;
  background-color: #546E7A;
  opacity: .3;
  z-index: -1;
}

.help_text:hover {
  opacity: 1;
}

.help_text::before{
  position: absolute;
  top: -39px;
  left: 0;
  right: 0;
  font-size: 20px;
  content: "welcome to the t_a_y_player!";
  text-align: center;
  background-color: #aaa;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 8px 16px;
  z-index: -2;
}
.description {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 15px;
  margin: 7px;
  text-align: center;
}

.share_link {
  background-color: rgba(0,0,0,0);
  border: 0 solid black;
  width: calc(100% - 346px);
}
